{% extends "layout.html" %}
{% block body_content %}
{{ form.hidden_tag() }}
<h1>Books</h1>
<div class="form-group">
	<form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.book_name.label }} {{ form.book_name }}
                    <p  style="font-family:verdana" >
                        Author: <SELECT name="author">
                    {% for j in joblist %}
	                <OPTION value="{{j[0]}}">{{j[1]}}</OPTION>
                    {% endfor %}
                    </SELECT>
                    </p>
                    <p  style="font-family:verdana" >
                    Category: <SELECT name="category">
                    {% for j in joblist1 %}
	                <OPTION value={{j[0]}}>{{j[1]}}</OPTION>
                    {% endfor %}
                    </SELECT>
                    </p>
                    {{ form.price.label }} {{ form.price }}
                    {{ form.count.label }} {{ form.count}}
                    {{ form.available.label}}{{form.available}}
                </div>
        <br>


		<div class="form-group">
			{{ form.submit }}
		</div>
    </form>
</div>
{% endblock body_content %}
