{% extends "layout.html" %}
{% block body_content %}
{{ form.hidden_tag() }}
<h1>Books</h1>
<div class="form-group">
	<form method="POST" action="">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.book_name.label }} {{ form.book_name }}<br>
                    {{ form.author_id.label }} {{ form.author_id}}<br>
                    {{ form.category_id.label}} {{ form.category_id}}<br>
                    {{ form.price.label }} {{ form.price }}<br>
                    {{ form.count.label }} {{ form.count}}<br>

                </div>
        <br>


		<div class="form-group">
			{{ form.submit }}
		</div>
    </form>
</div>
{% endblock body_content %}
